<div id="news_left">
<div id="home_art">
	<%= image_tag("home_art.jpg", :alt => "Home art") %>
</div>
<div id="mailchimp_signup">
	
	<% if admin? %>
	<%= link_to "[logout]", logout_path %>
	<%= link_to "[create mailinglist]", "https://login.mailchimp.com/"%>
	<% else %>
	<%#= link_to '[login]', login_path %>
	<%= link_to '[login]', "#", :id => "loginbutton", :remote => true %>
	  <%# <button id="loginbutton">[login]</button> %>
	<%= link_to "[rss]", rss_link %>
	

	  
	<script>
	    $("#loginbutton").click(function () {
	      $("#ajaxlogin").slideToggle("slow");
	    });
	</script>
	
	<div id="ajaxlogin">
		<%= render "sessions/login_form"%>
		
	</div>
	<% end %>
	<div id="mailchimpForm">
		<h1><span class="text_shadow">Join the mailing list</span></h1>
		<%= render "mailchimp_signup"%>
	</div>
</div>
</div> <%# end home left div %>


<div id="news_right">
<ul class="news_feed">
	<h1><span class="text_shadow">News</span></h1>
	
	<% flash.each do |key, msg| %>
	    <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_#{key}" %>
	    <%= content_tag :script, :type => "text/javascript" do -%>
	        setTimeout("new Effect.Fade('notice_<%= key %>');", 1500);
	    <% end %>
	<% end %>
		
	<% if admin? %>
	<div class="admin_options">
		<h4><%= link_to '[New Post]', new_blog_path %></h4>
	</div>
	<% end %>
	<div id="rssLink"><%= link_to "[rss]", rss_link %></div>
	<div id="paginator">
	  	<%= paginate @blogs, :remote => true %>
	</div>
	<div id="newsfeed_div">
		<%= render :partial => "newsfeed" %>
	  
	<%#= render "newsfeed" %>
	</div>


</ul>
</div>



