<p id="notice"><%= notice %></p>

<p>
  <b><%= @blog.title %></b><br />
  <%= @blog.created_at.strftime("%A %d %b %Y") %>
</p>

<p>
  <%= @blog.content %>
</p>




<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
