<% form_for @support, :url => { :action => "create" }, :html => { :method => :post } do |f| %>
<div class="field">
	<h3><%= f.label "Name: " %></h3>
	<%= f.text_field :sender_name %>
</div>

<div class="field">
    <h3 class="noMargin"><%= f.label "Email: " %></h3>
	<%= f.text_field :email %>
</div>
  
<div class="field">
	<%= f.select :support_type, options_for_select(["General", "Booking", "Support"]) %>
</div>
  
<div class="field">
    <h3><%= f.label "Your message:" %></h3>
	<%= f.text_area :content %>
	<%= f.submit "Send Mail" %>
</div>
<% end %>
