<script type="text/javascript">
   $(function() {
       $('#gallery a').lightBox();
   });
   </script>

<div class="photos_page">
<div id="gallery">
    <ul>
        <li><%= link_to image_tag("http://www.sambragg.co.uk/photos/thumbs/sam1-thumb.jpg", :alt => "Sam Bragg 1"), "http://www.sambragg.co.uk/photos/photos/sam1.jpg" %></li>
        <li><%= link_to image_tag("http://www.sambragg.co.uk/photos/thumbs/sam2-thumb.jpg", :alt => "Sam Bragg 2"), "http://www.sambragg.co.uk/photos/photos/sam2.jpg" %></li>
        <li><%= link_to image_tag("http://www.sambragg.co.uk/photos/thumbs/sam3-thumb.jpg", :alt => "Sam Bragg 3"), "http://www.sambragg.co.uk/photos/photos/sam3.jpg" %></li>
        <li><%= link_to image_tag("http://www.sambragg.co.uk/photos/thumbs/sam4-thumb.jpg", :alt => "Sam Bragg 4"), "http://www.sambragg.co.uk/photos/photos/sam4.jpg" %></li>
        <li><%= link_to image_tag("http://www.sambragg.co.uk/photos/thumbs/sam5-thumb.jpg", :alt => "Sam Bragg 5"), "http://www.sambragg.co.uk/photos/photos/sam5.jpg" %></li>
        <li><%= link_to image_tag("http://www.sambragg.co.uk/photos/thumbs/sam6-thumb.jpg", :alt => "Sam Bragg 6"), "http://www.sambragg.co.uk/photos/photos/sam6.jpg" %></li>
        <li><%= link_to image_tag("http://www.sambragg.co.uk/photos/thumbs/sam7-thumb.jpg", :alt => "Sam Bragg 7"), "http://www.sambragg.co.uk/photos/photos/sam7.jpg" %></li>
        <li><%= link_to image_tag("http://www.sambragg.co.uk/photos/thumbs/sam8-thumb.jpg", :alt => "Sam Bragg 8"), "http://www.sambragg.co.uk/photos/photos/sam8.jpg" %></li>
        <li><%= link_to image_tag("http://www.sambragg.co.uk/photos/thumbs/sam9-thumb.jpg", :alt => "Sam Bragg 9"), "http://www.sambragg.co.uk/photos/photos/sam9.jpg" %></li>
        <li><%= link_to image_tag("http://www.sambragg.co.uk/photos/thumbs/sam10-thumb.jpg", :alt => "Sam Bragg 10"), "http://www.sambragg.co.uk/photos/photos/sam10.jpg" %></li>

    </ul>
</div>

</div>

