<%#= @time.strftime("%A %d %b %Y @ %I:%M %p")  %>
<div id="upcoming_gigs">
<ul class="gigs_feed">
	<% if @new_gigs.blank? %> 
		<h1><span class="text_shadow">No upcoming gigs</span></h1>
		<% if admin? %>
		<div class="admin_options">
			<h4><%= link_to '[New Gig]', new_gig_path %></h4>
		</div>
		<% end %>
		<% else%>
		<h1><span class="text_shadow">Upcoming gigs</span></h1>
		<% if admin? %>
		<div class="admin_options">
			<h4><%= link_to '[New Gig]', new_gig_path %></h4>
		</div>
		<% end %>
	
		<% @new_gigs.reverse.each do |gig| %>
		<li>
		<ul class="gigs_feed_gig <%= cycle('list-line-even', 'list-line-odd') %>">		
		<li><h2><%= link_to gig.name, gig %></h2></li>
		<li><h4><%= gig.gigdate.strftime("%A %d %b %Y @ %I:%M %p") %></h4></li>
		<li><p><%= gig.address %></p></li>
		<% if admin? %>
		<div class="admin_options_gig">
			<h4><%= link_to '[Edit]', edit_gig_path(gig) %></h4>
    		<h4><%= link_to '[Destroy]', gig, :confirm => 'Are you sure?', :method => :delete %></h4>
		</div>
		<% end %>
		</ul>
		</li>
		<% end %>
	<% end %>
	</ul>
</div>

<div id="past_gigs">
	<ul class="gigs_feed">
	


<h1><span class="text_shadow">Past gigs</span></h1>

<%= paginate @old_gigs %>
<% @old_gigs.each do |gig| %>
	<li>
	<ul class="gigs_feed_gig <%= cycle('list-line-even', 'list-line-odd') %>">		
	<li><h2><%= link_to gig.name, gig %></h2></li>
	<li><h4><%= gig.gigdate.strftime("%A %d %b %Y @ %I:%M %p") %></h4></li>
    <li><p><%= gig.address %></p></li>
    <% if admin? %>
	<div class="admin_options_gig">
		<h4><%= link_to '[Edit]', edit_gig_path(gig) %></h4>
	    <h4><%= link_to '[Destroy]', gig, :confirm => 'Are you sure?', :method => :delete %></h4>
	</div>
	<% end %>
	</ul>
	</li>
<% end %>
<%= paginate @old_gigs %>

</ul>
</div>


