<% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_#{key}" %>
    <%= content_tag :script, :type => "text/javascript" do -%>
        setTimeout("new Effect.Fade('notice_<%= key %>');", 1500);
    <% end %>
<% end %>
	<h1><%= link_to 'Gig listing', gigs_path %><span class="text_shadow"> / <b><%= @gig.name %></b></span> <% if admin? %><%= link_to '[edit]', edit_gig_path(@gig) %><% end %></h1>
	<div id="gig_listing">
		<h3><%= @gig.gigdate.strftime("%A %d %b %Y @ %I:%M %p") %></h3>
	
	<h3><%= @gig.address %></h3>
	
	

<%= render 'blogs/social_links' %>


<div class="map_container round">
<div id="map_canvas" style="width:100%; height:300px"></div>
</div>

</div>


<script type="text/javascript">

var myLatlng = new google.maps.LatLng(<%= @gig.lat %>, <%= @gig.lng %>);
var myOptions = {
  zoom: 13,
  center: myLatlng,
  mapTypeId: google.maps.MapTypeId.ROADMAP
}

var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

var marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
    title:"<%= @gig.name %>"
});


</script>