<h1><b>@ <%= @gig.name %></b></h1>

<h3>
  <%= @gig.address %>
</h3>

<h3><%= @gig.gigdate.strftime("%A %d %b %Y") %></h3>
<h3><%= @gig.gigdate.strftime("%I:%M %p") %></h3>
<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_gig_path(@gig) %> |
<%= link_to 'Back', gigs_path %>
